.regularText,
.headerText{
    font-family: Arial;
}

/* texts used int the header*/
.headerText{
    color:white;
}

/* main div for header */
#headerDiv{
    background-color: #1f2937;
    margin-left:100px;
    margin-right:100px;
    display:flex;
    padding-left:150px;
    padding-right: 150px;
    margin-top: 0;
}

/* children of the header 
    makes them horizontal*/
.headerDivChilds{
    flex:1;
}

/* paragraph in the header */
#headerp{
    opacity: 80%;
}

/* sign up buttons */
.signup{
    color:white;
    background-color: #3b82f6;
    border-radius: 5px;
    font-size: large;
    border-style: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

/* items in the flexboxes for the header 
    makes them horizontal*/
.flexitemHeader{
    margin:0px;
    flex:0;
    display:flex
}
/* items in the flexboxes for the header 
    makes them vertical*/
.flexitemHeaderv{
    margin:0px;
    flex:1;
    display:flex
}

/* heading in the header */
#headerHeading{
    font-weight:900;
    font-size: 48px;
    letter-spacing: 0px;
}

/*main body*/
#body{
    background-color: #1f2937;
}


/*image for right header child*/
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/*main div*/
.main{
    background-color: whitesmoke;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
}

/*images for the main area*/
.mainImages{
    border-radius: 10px;
    border:#3b82f6;
    border-width: 3px;
}

.center{
    text-align: center;
}

#links{
    display:flex;
}

.linkboxes{
    border-width: 3px;
    border-color:#3b82f6;
    background-color: white;
    color:#1f2937;
}
#linkbox1{
    border-radius: 0px 0px 0px 5px;
    border-color:#3b82f6;
    border-width: 3px;
}

#linkbox3{
    border-radius: 0px 0px 5px 0px;
    border-color:#3b82f6;
    border-width: 3px;
}
