.regularText,
.headerText{
    font-family: Arial;
}

/* texts used int the header*/
.headerText{
    color:white;
}

/* main div for header */
#headerDiv{
    background-color: #1f2937;
    margin-left:100px;
    margin-right:100px;
    display:flex;
    padding-left:150px;
    padding-right: 150px;
    margin-top: 0;
}

/* children of the header */
.headerDivChilds{
    flex:1;
    
}
/* paragraph in the header */
#headerp{
    opacity: 80%;
}

/* sign up buttons */
.signup{
    color:white;
    background-color: #3b82f6;
    border-radius: 5px;
    font-size: large;
    border-style: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

/* items in the flexboxes for the header */
.flexitemHeader{
    margin:0px;
    flex:0;
    display:flex
}

/* heading in the header */
#headerHeading{
    font-weight:900;
    font-size: 48px;
    letter-spacing: 0px;
}

/*main body*/
#body{
    background-color: #1f2937;
}

#links{
    text-align: center;
}

.image{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.main{
    background-color: whitesmoke;
    margin-left: 0px;
    margin-right: 0px;
}
.mainImages{
    border-radius: 10px;
    border:#3b82f6;
    border-width: 3px;
}